<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mathjax/es5/tex-mml-chtml.js" async></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js" async></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/clipboard/dist/clipboard.min.js"></script>
        <script type="text/javascript" src="/js/main.js" async></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/FortAwesome/Font-Awesome/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="/css/highlight.css">
        <link rel="stylesheet" type="text/css" href="/css/element.css">
        <link rel="stylesheet" type="text/css" href="/css/post.css">
    </head>
    <body>
        <div id="title"></div>
        <div id="main">
            <div id="post"></div>
            <div id="commit"></div>
        </div>
        <div id="none">
        </div>
        <hr>
    </body>
</html>