body{
    font-family: "Microsoft YaHei", "微软雅黑", "Helvetica";
    background-color: azure;
    flex-direction: column;
    word-wrap: break-word;
    flex-wrap: nowrap;
    font-size: 16px;
    margin: 0;
}
hr{
    margin-right: 1%;
    margin-left: 1%;
}
#title{
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    line-height: 1px;
    flex-wrap: wrap;
    display: flex;
    height: 200px;
    width: 100%;
    margin: 0;
}
#title #description{
    color: grey;
}
#post, #commit{
    box-shadow: 0 0 2rem lightgrey;
    background-color: snow;
    flex-direction: column;
    border-style: solid;
    border-color: gray;
    border-radius: 16px;
    border-width: 1px;
    overflow: auto;
    padding: 16px;
    display: flex;
    margin: 24px;
    height: 100%;
}
#post .heading i{
    opacity: 0%;
}
#post .heading i:hover{
    opacity: 100%;
}
#menu{
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    display: flex;
}
#footer{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 1px;
    flex-shrink: 0;
    display: flex;
}