body{
    font-family: "Microsoft YaHei", "微软雅黑", "Helvetica";
    background-color: azure;
    flex-direction: column;
    word-wrap: break-word;
    flex-wrap: nowrap;
    font-size: 16px;
    display: flex;
}
hr {
    margin-right: 1%;
    margin-left: 1%;
}
#none{
    min-height: 100vh;
}
#main{
    box-shadow: 0 0 2rem lightgrey;
    background-color: snow;
    flex-direction: column;
    border-style: solid;
    border-color: gray;
    border-radius: 16px;
    border-width: 1px;
    display: flex;
    height: 100%;
    padding: 1%;
    margin: 2%;
}
#title{
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    line-height: 1px;
    flex-wrap: wrap;
    display: flex;
}
#title p{
    color: grey;
}
#menu{
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    display: flex;
}
#footer{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 1px;
    flex-shrink: 0;
    display: flex;
}