body{
    font-family: "Microsoft YaHei", "PingFang SC", "WenQuanYi Micro Hei", sans-serif;
    background-color: azure;
    word-wrap: break-word;
    overflow-x: hidden;
    flex-wrap: nowrap;
    font-size: 16px;
    margin: 0;
}
#title{
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    line-height: 16px;
    overflow: hidden;
    flex-wrap: wrap;
    display: flex;
    height: 200px;
    width: 100%;
    margin: 0;
}
#title #description{
    color: grey;
}
#main{
    justify-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    display: flex;
}
#body{
    overflow: auto;
    width: 100%;
}
#menu{
    width: 300px;
}
#post, #commit, #menu{
    box-shadow: 0 0 4px lightgrey;
    background-color: snow;
    flex-direction: column;
    border-color: gray;
    position: relative;
    border-radius: 8px;
    border-width: 1px;
    overflow: auto;
    padding: 16px;
    display: flex;
    margin: 24px;
}
#footer{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    line-height: 1px;
    flex-shrink: 0;
    display: flex;
}
